runpod
faster-whisper
numpy
ffmpeg-python
yt-dlp
soundfile
cloudinary
boto3
python-dotenv

# Optional but useful:
ctranslate2

# Smart Cutting Engine Dependencies
scenedetect
webrtcvad
librosa