runpod
faster-whisper
numpy
ffmpeg-python
yt-dlp
soundfile
cloudinary
boto3
python-dotenv

# Optional but useful:
ctranslate2

# Smart Cutting Engine Dependencies
scenedetect
webrtcvad
llvmlite==0.42.0
numba==0.59.1
librosa